@import url('https://fonts.googleapis.com/css2?family=Red+Hat+Display:wght@400;900&display=swap');

body{
    margin: 0;
    padding: 0;
    background-color:#FAFAFA;
    font-family: 'Red Hat Display', sans-serif;
    font-weight: 500;
    color: #87879D;
}

header {
    display: block;
    position: relative;
    overflow: hidden;
    width: 100%;
}

header .meet-logo {
    position: relative;
    width: 119px;
    height: 28px;
    margin: 80px auto 60px;
}

header .hero {
  position: relative;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

header .hero .item {
  display: block;
  flex-grow: 2;
  text-align: center;
  min-height: 358px;
}

header .hero .item.hero-left {
  order: 1;
  background: url(images/desktop/image-hero-left.png) no-repeat right top;
}

header .hero .item.hero-right {
  order: 3;
  background: url(images/desktop/image-hero-right.png) no-repeat left top;
}

header .hero .item.hero-center {
  order: 2;
  flex-grow: 1;
}

header h1 {
  margin: 50px auto 20px;
  color: #28283D;
  width: 80%;
  max-width: 445px;
  font-weight: 900;
  font-size: 64px;
  text-align: center;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

header p {
  margin: 10px auto 30px;
  width: 90%;
  max-width: 540px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  text-align: center;
}

header a.button {
  display: block;
  padding: 0 30px;
  height: 58px;
  color: #FAFAFA;
  font-size: 16px;
  line-height: 58px;
  text-decoration: none;
  border-radius: 29px;
  font-weight: 900;
}

header a.button.download {
  background: #4D96A9;
}

header a.button.download:hover {
  background: #71C0D4;
}

header a.button.download .version {
  color: #8FE3F9;
}

header a.button.info {
  background: #855FB1;
}

header a.button.info:hover {
  background: #B18BDD;
}

header .flex-buttons {
  width: 445px;
  margin: 10px auto;
  justify-content: space-evenly;
  display: flex;
  flex-wrap: wrap;
}

@media only screen and (max-width: 1023px) {
  header .meet-logo {
    margin: 48px auto 48px;
  }

  header .hero {
    gap: 30px;
  }

  header .hero .item {
    min-height: 310px;
  }

  header .hero .item.hero-right {
    order: 2;
  }

  header .hero .item.hero-center {
    order: 3;
    width: 100%;
  }

  header h1 {
    font-size: 48px;
  }

  header p {
    max-width: 458px;
    font-size: 16px;
    line-height: 26px;
  }
}

@media only screen and (max-width: 767px) {
  header h1 {
    font-size: 40px;
    line-height: 44px;
  }

  header .hero .item.item.hero-left,
  header .hero .item.item.hero-right {
    background-size: 220px 160px;
    min-height: 160px;
  }
}
@media only screen and (max-width: 400px) {
  header .flex-buttons {
    max-width: 193px;
    margin: 10px auto;
    gap: 16px;
  }
  
}

main {
  display: block;
  position: relative;
  overflow: hidden;
  width: 100%;
  margin-bottom: 0px;
}

.line {
  display: flex;
  flex-flow: row;
  justify-content: center;
  position: relative;
  border-left: 1px solid rgba(135, 135, 157, 0.25);
  height: 84px;
  left: 50%;
  right: 50%;
  margin: 110px auto 0px; 
}

.section-nummber {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 56px;
  width: 56px;
  border: 1px solid rgba(135, 135, 157, 0.25);
  border-radius: 29px;
  margin: auto;
  font-size: 16px;
  font-weight: bold;
}

main .images-container {
  position: relative;
  max-width: 1110px;
  width: 90%;
  display: flex;
  justify-content: center; 
  flex-wrap: wrap;
  margin: auto; 
  overflow: hidden;
  margin-top: 64px; 
  gap: 4%;
}

.images-container img {
  position: relative;
  display: block;
  width: 22%;
  border-radius: 8px;
} 

@media only screen and (max-width: 400px) {
  main .images-container{
   gap: 11px;
  } 
 
  .images-container img {
   width: 48%;
  }
} 

article {
  position: relative;
  margin: 80px auto 111px;
  display: block;
  text-align: center;
  width: 100%;
  overflow: hidden;
}

article span {
  font-weight: 900;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 4px;
  text-transform: uppercase;
  color: #4D96A9;
}

article h2 { 
  position: relative;
  max-width: 445px;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  color: #28283D;
  margin: 16px auto 32px;

}

article p {
  max-width: 540px;
  font-size: 18px;
  line-height: 26px;
  margin: auto;
}

.section2{
  position: relative; 
  margin-top: 72px;
  margin-bottom: -50px;
  z-index: 2;
}

.section2 .line{
  position: relative;
  display: flex;
  flex-flow: row;
  justify-content: center;
  position: relative;
  border-left: 1px solid rgba(135, 135, 157, 0.25);
  height: 84px;
  left: 50%;
  right: 50%;
  z-index: 2;
}

.section2 .section-nummber {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 56px;
  width: 56px;
  border: 1px solid rgba(135, 135, 157, 0.25);
  border-radius: 29px;
  font-size: 16px;
  font-weight: bold;
  background: #FAFAFA;
  z-index: 2;
}


@media only screen and (max-width: 768px) {
  article {
    max-width: 540px;
  }

  article p {
    font-size: 16px;
  }
}

@media only screen and (max-width: 400px) {
  article {
    max-width: 327px;
  }

  article h2{
    font-size: 32px;
    line-height: 36px;
  }
}

footer {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  background-size: cover; 
  background: #4D96A9;
}

.background{
  overflow: hidden;
}

footer::before {
  content: ' '; 
  position: absolute;
  overflow: hidden;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.1;
  background-image: url(/images/desktop/image-footer.jpg);
  max-width: 1440px;
  background-repeat: no-repeat;
  background-position: 50% 0;
  background-size: cover;
}

@media only screen and (max-width: 768px) {
  footer::before {
    background-image: url(/images/tablet/image-footer.jpg);
  }
}

@media only screen and (max-width: 400px) {
  footer::before {
    background-image: url(/images/mobile/image-footer.jpg);
  }
}
.footer-container {
  position: relative;
  display: flex; 
  flex-wrap: wrap; 
  justify-content: space-evenly;
  max-width: 1110px;
  margin: 116px auto 104px; 
  z-index: 2; 
}

h3 {
  max-width: 350px;
  font-weight: 900;
  font-size: 40px;
  line-height: 44px;
  color: #FAFAFA;
}

footer p {
  max-width: 350px;
  font-weight: 500;
  font-size: 18px;
  line-height: 26px;
  color: #FAFAFA;
}

footer a.download {
  display: block; 
  padding: 0 30px;
  height: 58px;
  color: #FAFAFA;
  font-size: 16px;
  line-height: 58px;
  text-decoration: none;
  border-radius: 29px;
  font-weight: 900;
  background: #855FB1;
}

footer a.download:hover {
  background: #B18BDD;
}

footer a.download .version {
  color: #D9B8FF;
}

@media only screen and (max-width: 768px) {
  .footer-container{
    max-height: 428px;
  }

  h3 {
    max-width: 457px;
    text-align: center;
  }

  footer p{
    max-width: 573px;
    text-align: center;
  }

  footer a.download{
    width: 193px; 
    margin: 40px auto 66px;
  }
}

@media only screen and (max-width: 400px) {
  h3{
    max-width: 327px;
    font-size: 32px;
    line-height: 36px;
  }

  footer p{
    max-width: 327px;
  }
}